.btn-outline-success {
  color: #28CC8B;
  border-color: #28CC8B;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28CC8B;
  border-color: #28CC8B;
}

.bg-light {
  background-color: transparent !important;
}

.bg {
  position: absolute;
}


#header {
  margin-top: 100px;
}

#nav-bar #navbarSupportedContent {
  margin-left: 20px
}

#play {
  margin-left: 23px;
}

#play img {
  margin-right: 19px;
}

#logos {
  margin-top: 50px;
  width: 100%;
}

h5 {
  color: #9E9EB6;
}

#services {
  margin-top: 126px;
  background-image: url(../images/bg-services.png);
  background-position: left;
  background-repeat: no-repeat;
}

.card-cus {}

.row-pad {
  margin-bottom: 62px;
}

.btn-primary {
  color: #fff;
  background-color: #28CC8B;
  border-color: #28CC8B;
}

.btn-primary:hover {
  color: #fff;
  background-color: #15A76D;
  border-color: #15A76D;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #28CC8B;
  border-color: #15A76D;
}

.h4 {
  color: #585FF6;
}

.cardshadow {
  transition: all 0.5s;
}

.cardshadow:hover {
  box-shadow: 0 1rem 3rem rgba(210, 212, 255, 1) !important;
  z-index: 10;
  transition: all 0.5s;
}

.txt-center {
  text-align: center;
  margin-bottom: 45px;
}

#about-margin {
  margin-top: 77px;
}

.text-center {
  text-align: center;
}

#process {
  margin-top: 66px;
}

#btn-center {
  text-align: center;
  margin-top: 47px;
  margin-bottom: 56px;
}

#plane {
  margin-top: 33px;
}

#switch {
  width: 244px;
  height: 70px;
  background-color: #ffffff;
  border: 0.5px solid #d0d0d0;
  border-radius: 100px;
  padding: 9px;
  text-align: right;
  position: relative;
  margin: auto;
  margin-bottom: 57px;
}

#switch2 {
  width: 110px;
  height: 50px;
  background-color: #28CC8B;
  border: 0.5px solid #d0d0d0;
  border-radius: 100px;
  padding: 1px;
  text-align: center;
  position: absolute;
  top: 10px;
}


#switch2 p {
  margin-top: 10px;
  color: #ffffff;
}

#premium {
  position: relative;
  margin-top: -36px;
  margin-left: 0;
  text-align: center;
  margin-right: -105px;
}

#parent {
  text-align: -webkit-center;
}

.switch-free, .switch-premium {
  display: inline-block;
  text-align: center;
  width: calc(50% - 3px);
  padding-top: 10px;
}

.card1 {
  background-color: #585FF6;
  width: 100%;
  height: 535px;
  transition: all 0.5s;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
      margin-bottom: 10px;
}

.card1 h4, .card2 h4 {
  padding-top: 73px;
}

.card1 h6, .card2 h6 {
  line-height: 2.2;
}

.card2 {
  background-color: #ffffff;
  width: 100%;
  height: 535px;
  transition: all 0.5s;
  border: 0.5px solid #d0d0d0;
  border-radius: 5px;
  text-align: center;
      margin-bottom: 10px;
}

.card1:hover, .card2:hover {
  box-shadow: 0 1rem 3rem rgba(210, 212, 255, 1) !important;
  z-index: 10;
  transition: all 0.5s;
}

.card2 h1 {
  color: #585FF6;
}

.cus-btn {
  background: #fff;
  color: #28CC8B;
}

.Test-card {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  border: 0.5px solid #d0d0d0;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  border-radius: 60px;
}

.Test-card img {
  padding: 50px;
  margin: auto;
}

.Test-card h5 {
  width: auto;
padding: 70px 20px 20px 10px;
  text-align: center;
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: #585FF6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn {
  position: absolute;
  top: -50px;
  z-index: 9;
  left: calc(50% - 55px);
}

.relative {
  position: relative;
}

.background-c {
  background-color: #585FF6;
  color: #ffffff;
  padding: 50px;
  border-radius: 10px;
}

.h4c {
  color: #28CC8B;
}

.h5c {
  color: #ffffff;
}

.input {
  width: 100%;
  height: 58px;
  border-radius: 51px;
  border: #ffffff;
  position: relative;
  margin-top: 53px;
}

#switch3 {
  width: 110px;
  height: 42px;
  background-color: #28CC8B;
  border: 0.5px solid #d0d0d0;
  border-radius: 100px;
  text-align: center;
  position: absolute;
  top: 62px;
  padding-top: 6px;
right: 11px;
}

.switch-web {
  display: inline-block;
  text-align: center;
  width: calc(30% - 3px);
  padding-top: 10px;
}

.switch-web p {
  margin-top: 12px;
}

#switch-por {
  width: 328px;
  height: 70px;
  background-color: #ffffff;
  border: 0.5px solid #d0d0d0;
  border-radius: 100px;
  padding-left: 10px;
  text-align: right;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

.portfolio-card {
  position: relative;
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: RGBA(88, 95, 246, 0.7);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: all 0.5s;
}

.portfolio-card:hover .portfolio-card-overlay {
  opacity: 1;
  transition: all 0.5s;
}

.footer {
  background-color: #644EEE;
  text-align: center;
  position: relative;
  margin-top: 61px;

    overflow: hidden;
}

.logofooter {
  top: 95px;
  left: 0;
}

.h6 {
  color: #ffffff;
  padding: 10px 10px 10px 0px;
  text-align: left;
  line-height: 1.6;
}

.bgfooter {
  position: absolute;
}

.footer-txt {

}

.copy-txt {
  text-align: left;
  color: #ECEEFD;
  padding: 10px 10px 20px 0px;

}

hr {
  background-color: #ECEEFD;
}

.margin1 {
  margin-top: 45px;
}

.txt3 {
  margin-bottom: 45px;
}

.margin5 {
  margin-top: 66px;
  margin-bottom: 80px;
}

#contact {
  margin-top: 60px;
  margin-bottom: 60px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #28CC8B;
}



.imgs2 img {
  padding-left: 15px;
  padding-right: 15px;
}

.icon-margin {
  margin-bottom: 33px;
}
#contact form {
position: relative;

}
.btnsignup{

  width: 107px;
}
.header-vctr{

  width: 100%;
}
.vetr2 {
    width: 100%;
}
.collapse .navbar-collapse{

  width: 100%;
  margin-left: 17px;
}

.footer2 {

  margin-top: 45px;
}

.Test-card h6 {

  margin-bottom: 45px;
}

body {
  overflow-x: hidden;
}


















/* media start */
@media all and (max-width: 600px) {
  #header .row {
    flex-direction: column-reverse;
  }
}
